*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.card{
    height: 400px;
    width: 300px;
    background-color: red;
    position: relative;
    border: 0.5px solid white;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.bottom{
    width: 100%;
    height: 20%;
    background-color: white;
    position: absolute;
    bottom:-20%;
    background: linear-gradient(transparent,white);
    transition: all ease 0.5s;
}

.card:hover .bottom{
    bottom:0%;
}

.bottom h4{
    color: white;
    font-size: 30px;
    font-weight: 100px;
    padding: 20px;
}