*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(176, 193, 244);
}

#main{
    margin: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.card{
    width: 200px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 5px 20px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
    flex-direction: column;
}

.card img{
    height: 100px;
    width:100px;
    object-fit: cover;
    border-radius: 100%;
    margin: 10px;
}

.card p{
    text-align: center;
}
.card button{
    padding: 10px;
    width: 40%;
    border-radius: 40px;
    background-color: rgb(0, 255, 255);
    border:1px solid aqua;
}
.card button:hover{
    background-color: transparent;

}